.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  gap: 2em;
  background-color: rgb(212, 233, 245);
  padding: 1em 2em;
  text-transform: uppercase;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(30, 1, 1);
}

.navbar a:hover {
  color: rgb(112, 4, 22);
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1em;
  background-image: url(https://media.timeout.com/images/102850781/image.jpg);
  background-size: cover;
  height: 95vh;
}

.homeContent {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10%;
  padding: 3em 10em;
  border-radius: 5em;
}

.ListPage {
  text-align: center;
}

.gridDisplay {
  text-align: center;
}

.search-controls, .sort-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.filter-controls {
  display: flex;
}



.ListDisplay {
  display: flex;
  justify-content: center;
}


.ListDisplay ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 80%;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  text-align: left;
}

.listItem img {
  width: 150px;
  height: 150px; 
  object-fit: cover;
  border-radius: 5%;
}

.listItem p {
  margin: 0.2em 0;
}

.gridDisplay ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.gridItem {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridItem img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
}

.detailPage {
  text-align: center;
  padding: 3em;
}

.nav-buttons {
  padding: 1em;
}


